@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.q-card {
  width: 420px;
  height: 70%;
  -webkit-box-shadow: 0px 0px 1px 0.5px #D8D8D8;
          box-shadow: 0px 0px 1px 0.5px #D8D8D8;
  border-radius: 10px;
}

.q-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.the-q {
  margin: 0 15%;
  height: 15%;
  font-size: 1.2rem;
}

.choices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.choices-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 1px 0.5px #D8D8D8;
          box-shadow: 0px 0px 1px 0.5px #D8D8D8;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  outline: none;
  border: none;
}

.choices-btn:hover {
  cursor: pointer;
  background-color: #04BF8A;
}

.choices-btn:hover p {
  color: white;
}

.choices-btn:hover .choice-char {
  -webkit-animation: animate-chars 0.3s ease-out forwards;
          animation: animate-chars 0.3s ease-out forwards;
}

.choices-btn p {
  margin: auto;
  font-size: 0.9rem;
  margin-left: 20%;
}

.choice-char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: #F2CF1D;
  border-radius: 10px 0 0 10px;
  position: absolute;
  left: 0;
}

@-webkit-keyframes animate-chars {
  0% {
    border-radius: 10px;
  }
  100% {
    left: -15px;
  }
}

@keyframes animate-chars {
  0% {
    border-radius: 10px;
  }
  100% {
    left: -15px;
  }
}

.choices-container .choices-btn:nth-child(2) span {
  background-color: #F27781;
}

.choices-container .choices-btn:nth-child(3) span {
  background-color: #18298C;
  color: white;
}

.choices-container .choices-btn:nth-child(4) span {
  background-color: #60C8F5;
}

.hidden {
  display: none !important;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.home-top-section {
  height: 30%;
}

.home-bottom-section {
  height: 5%;
}

.home-heading {
  font-size: 4rem;
  font-weight: 300;
  margin-left: 0px;
}

.next-btn {
  position: relative;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 1.45rem;
  background-color: #F2CF1D;
  font-weight: 300;
  outline: none;
  -webkit-transition: bottom 3s ease-in;
  transition: bottom 3s ease-in;
}

.next-btn:hover {
  cursor: pointer;
  bottom: 3px;
  -webkit-box-shadow: 0px 2px 0px 0px #D8D8D8;
          box-shadow: 0px 2px 0px 0px #D8D8D8;
}

@-webkit-keyframes swoosh {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  25% {
    margin-left: 25px;
    opacity: 1;
  }
  50% {
    margin-left: -1200;
  }
  100% {
    margin-left: -1200;
    opacity: 0;
  }
}

@keyframes swoosh {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  25% {
    margin-left: 25px;
    opacity: 1;
  }
  50% {
    margin-left: -1200;
  }
  100% {
    margin-left: -1200;
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .home-heading {
    font-size: 3rem;
  }
  .next-btn {
    padding: 12px;
    font-size: 1.3rem;
  }
}

.quiz-category-container {
  padding: 50px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 0.5px #D8D8D8;
          box-shadow: 0px 0px 1px 0.5px #D8D8D8;
}

.quiz-category-container label {
  font-size: 1.03rem;
}

.category-selector {
  margin-left: 8px;
  border-color: #D8D8D8;
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
  outline: none;
  font-size: 0.95rem;
}

.category-selector:hover {
  cursor: pointer;
}

.green-btn {
  background-color: #04BF8A;
}

.red-btn {
  background-color: #F20505;
  color: white;
}

#next-Q-btn {
  position: relative;
  font-size: 1.15rem;
  background-color: #F2CF1D;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#next-Q-btn:hover {
  cursor: pointer;
  bottom: 3px;
  -webkit-box-shadow: 0px 2px 0px 0px #D8D8D8;
          box-shadow: 0px 2px 0px 0px #D8D8D8;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.changeHeight {
  height: 60% !important;
}
/*# sourceMappingURL=style.css.map */